<div class="background">
  <div class="container-fluid">
    <div class="d-flex mt-3 mb-3">Encounters</div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Dice</th>
            <th>Result</th> <!-- New column for displaying the result -->

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let enc of encounters; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ enc.name }}</td>
            <td><button class="btn-roll" (click)="rollForEntity(enc)">
                <img src="assets/d20.png" alt="dice"></button></td>

            <td class="fixed-width">{{ enc.result }}</td> <!-- Display the result here -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>